strong {
    color:rgb(5, 92, 46);
    font-style: italic;
}
strong code {
    color:blue !important;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.keys kbd{
    background: rgb(117, 255, 38);
}
.alert{
    color:brown;
    text-transform: uppercase;
    display: block;
    padding: 5px;
    border: red 2px solid;
    margin: 5px;
    background:#4caf4fa2;
    border-radius: 10px;
    box-shadow: 0 0 12px 2px gray;
}

img:not([class='emojione']) {
    box-shadow:0 0 15px#CCC;
    border-radius: 10px;
    border:2px solid gray;
    display: block;
    margin: 0 auto;
}