strong {
    color:rgb(5, 92, 46);
    font-style: italic;
}
strong code {
    color:blue !important;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.keys kbd{
    background: rgb(117, 255, 38);
}
.alert{
    color:brown;
    display: block;
    padding: 8px;
    border: red 2px solid;
    margin: 5px;
    background:#afffb2a2;
    border-radius: 10px;
    box-shadow: 0 0 12px 2px gray;
}

img:not([class='emojione']) {
    box-shadow:2px 3px 15px 5px #CCC;
    border-radius: 10px;
    border:1px solid gray;
    display: block;
    padding: 8px;
    margin: 0 auto;
}
.codehilite pre {
   color: rgb(255, 124, 16) !important;
   font-weight: bolder !important;
   font-size: 16px !important;
}
code {
    color: rgb(0, 65, 185) !important;
    font-weight: normal !important;
    font-size: 14px !important;
 }

 h1{
     color: green !important;
 }
 h2{
    color: green !important;
 }
 h3{
    color: green !important;
 }